<div *ngIf="false" class="grid-even-columns">
  <div class="flow">
    <h2>Header</h2>
    <p>paragraph with some text</p>
  </div>
  <div class="flow">
    <h2>Header</h2>
    <p>paragraph with some text</p>
  </div>
  <div class="flow">
    <h2>Header</h2>
    <p>paragraph with some text</p>
  </div>
  <div class="flow">
    <h2>Header</h2>
    <p>paragraph with some text</p>
  </div>
</div>

<div class="grid">
  <div class="card">
    <h2>Title 1</h2>
    <p>Paragraphar asdi asoiasfoai adj gjadg dagag dag dag</p>
  </div>
  <div class="card">
    <h2>Title 2</h2>
    <p>Paragraphar asdi asoiasfoai adj gjadg dagag dag dag</p>
  </div>
  <div class="card third">
    <h2>Title 3</h2>
    <p>Paragraphar asdi asoiasfoai adj gjadg dagag dag dag</p>
  </div>
  <div class="card colSpan2">
    <h2>Title 4</h2>
    <p>Paragraphar asdi asoiasfoai adj gjadg dagag dag dag</p>
  </div>
  <div class="card">
    <h2>Title 5</h2>
    <p>Paragraphar asdi asoiasfoai adj gjadg dagag dag dag</p>
  </div>
</div>